.customer-form{
   
    width:350px;

}

.hrbar{
    border: 2px solid black;
    border-radius: 5px;
}

#verifybtn{
    align-self: left;
}

.form-container{
    background-color: white;
    width:100%;
}

.form-group{
    width:300px;
}

